.post-table{
  table{
    width: 100%;
    border : 1px solid #444444;
  }

  tr,td {

    width: 50%;
    height: 30px;
    word-break:break-all;

    border : 1px solid #444444;}

  #title{
    font-size:35px;
    height:50px;
  }

  #picture{
    img{float:left};
  }

  #content{
    height : 100px;
    font-size: 20px;
  }
}
